h1 {
    font-size: 3rem;
    margin: 20px 0;
    color: #0072C6;
    font-family: 'Arial', sans-serif;
    text-align: center;
}
p{
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.6;
    color: #333;
    margin: 10px 0;
    text-align: justify;


}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.connexion{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}